<div class="container">
  <div class="headline search">
    <h1>Search for a model</h1>
    <form class="form-search">
      <input type="text" class="input-xlarge search-query" placeholder="Enter a search item...">
      <select class="selectpicker">
        <optgroup label="Category">
          <option>All Categories</option>
          <option>Robots</option>
          <option>People/Animals</option>
          <option>Buildings</option>
          <option>Tools</option>
          <option>Vehicles</option>
        </optgroup>
        <optgroup label="Other">
          <option>Username</option>
        </optgroup>
      </select>

      <!--Clicking Search takes user to search results page.
      Search results remain in search bar --> 
      <button type="submit" class="btn">Search</button>
    </form>
  </div>

  <div class="categories">
    <div class="headline">
      <h1>Browse by Category</h1>
      <br />
    </div>

    <ul class="thumbnails">
      <% @categories.each do |cat| %>
        <li class="span3">
          <%= link_to image_tag("wall-e.jpg", alt:"Wall-e robot"),
            {controller: "pages", action: "search", category: "#{cat.name}"},
            {:class=>("thumbnail")} %> <%= cat.name.capitalize %>
        </li>
      <%end%>
    </ul>

  </div>
</div>
