<!--This is the modal for signing up-->
<div id="signup_modal" class="modal hide fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <h3 id="myModalLabel">Assign Username</h3>
  </div>

  <div class="modal-body">
    <form>
      <fieldset>
        <label>Username*</label>
        <input type="text" placeholder="Pick a username...">
        <label>Re-type username*</label>
        <input type="text" placeholder="Type it again...">
        <br />
        <div class="signup-buttons pull-right">
          <button class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>

</div>


