<div class="headline models_downloaded">
  <h1>My Downloads</h1>
</div>

<%if @downloads.empty?%>
  <p>You haven't downloaded any models yet.</p>
<%else%>
  <div class="row categories">
    <ul class="thumbnails_preferences thumbnail_margin_bottom">
      <%@downloads.each do |dl|%>
        <%model = Model.where(:id=>"#{dl.model_id}").first%>
        <li class="span2">
          <%= link_to image_tag("/model/#{model.id}/image/1",
                                alt: "#{model.name}"),
            {controller: "model", action: "show", id:"#{model.id}"},
            {:class=>"thumbnail"} %>

        <div class="line_height">
          <%= link_to "#{model.name}",
            {controller: "model", action: "show", id:"#{model.id}"} %>
        </div>

        <span class="subtext">By:
        <%if !model.creator%>
          Anonymous
        <%else%>
          <%=User.find(model.creator).username%>
        <%end%>
        </span>

        <br/>
        <span class="subtext">
          <i class="icon-circle-arrow-down"></i> <%= dl.updated_at.strftime("%b %d, %Y")%>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
<%end%>
